# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_cxx_compilerclangxx
    - CONFIG=osx_cxx_compilertoolchain_cxx

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "h9xD8bmTUPw3vjyKbPaZp9GRiqB3cSETcHXzDjEUqn2x7NXdkze1TqJJJ5F50IJDJssqLVPXqkXcIb+0IkYIBBY5KavAyhI2hKrW7aKN/ekBo/0EdaTRhEh6JAWoF0SpqN9+XVNMvTxRPJ4f9VIowOZdBKIu1WhBZv00oTjsZe2sCo0yCwrQAWQQQAKxIYOvvSBYO7GIrpJE1Ej5ljUbFTwyr45sEBFd8RCwLyL3KbtIUr+zIB78WO2AO9SX+tE2mkvcekG88LaqNVK49kk0danW7p0t4IUi7IzsBIf/5kWuQS9MZKBDISUq5fp/mMdnKx+ug/FDebX5eefcc8K4UEjScG8nYTHOdNNF35Z3d1/qushw+I9zSDa3kKmDgmorx0HWQBidn6T9VvfFFAkAQEzjdPXDGG3fOGMdSdRhJCQ95oPk8G1hzk5zFcDdUOlbwT8qnKtAplfS7rlFztdTXjAOiLmbF+klgQkoadWqJ5EVMOmQv15r47SLxw3INuaFxyUG5pMytm3FvZpjtc9VUDN10HAWLezJK+O3g/6YdJzFp2Y6s82jDdLteCQSoPmqwrOMjWn0ds6rphHfanFtJX+BNf2Sz/ilk4r21CeekCZ6nBi4SD6CJv8NQ+rECZxarBGPpAuulMI1Yy/UhPVx9BuLiR3C/kgPCZ28R4ioR9g="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
