# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "j9SjMEmRgEr54R9JhP2sakoHg41UJ+fkxlOqL+MGmmAaYOkDV44fjMQ9S+tjI8Lfs5EFY5g0WKh+Hzeh5rZ59WzvctU2LArNgaWhvHqmwSAvcAfXBSPzo2s41vpv6/4dw03kNWdRPGrQQ+fQEaU3I5ri6lCWGOK4UWDE0ggWS/zyjqpVQ6fNQMs3NWWIP7dUbD3/LdTiiPJpHYabmbzMNL+9P1+JqM5ySB8J+m0zoTysvG2T4T3NwYv1u2YM733gBjjwlLrQgoCNwpD5lQuxeqK1fA+rsFe0nO/tQyYctLrmHfq2BMA2tfkcFbcQ3vAXlPPABIYfxdVTtWYhlH7qZ0OmZrqUSDWZk9l7hGdhD4Y0fzq61H+eouGllvuDLxw4bUIHFJmPZYo8xVJz1PqkL5r4V/hdorCm4s6pukMQdSpbCj6jc8FcT5bUIF2iTE1UUpuqXteEUK4kC9uQUBv5Ykuv49X1UjBX9zv4qSI6MsTuUeucYvANk1LD/WtXJYiNCiNkLIkwhC+mY1sUO1JnNUJe8C1reqcMiOE0nHJkpk5SQW6ZrZ7//WAdVEfHx6Wb3+LnsERI3FkgY0SHqzzHYTXhbhbUjRgbQ/z5cJzIAEKMQYqJ+zGmJomz0f1y3mqa56pZtsma/BDMSK6hcspE8R/8AIsfzvzxGONPmvoPoM4="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
